ruby > rt {
  display: none;
}

ruby:hover > rt {
  display: block;
  position: absolute;
  ruby-position: above;
  background-color: #fff;
  padding: 5px;
  z-index: 1000;
}

/* remove scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.mdict {
    border-top: 0.15em solid #c4c4c4;
    margin-bottom: 0.1em;
    padding-top: 0.5em;
}

.gddictname {
    position: relative;
    z-index: 9;
    margin-bottom: -0.16em;
}

.epwing_article h3 {
    display: none;
}

.epwing_text:first-line {
    text-indent: -1em;
}

.epwing_text {
    padding-top: 0.5em;
    padding-left: 1em;
    border-top: 0.15em solid #c4c4c4;
    margin-bottom: 0.5em;
}

.gdarticle {
  margin-bottom: -5px;
}

h1 {
  font-size: 35px;
  margin-bottom: 0.05em;
  margin-top: -0.2em;
  color: #1268c3;
  font-weight: normal;
}

h1 a:link {
  font-weight: normal;
  color: #1268c3;
  text-decoration: dashed underline;
  text-underline-offset: 8px;
}

h1 a b{
  background-color: #ddeeff;
}
